*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header{
    display: flex;
    background: linear-gradient(90deg,black, rgb(165, 10, 10), gold);
    padding: 5px 0;
    }

header img{
    width: 300px;
    margin: 0 auto;
}

#cabeçalho ul {
    list-style: none;
    position: absolute;
    right: 0;
    display: flex;
    gap: 25px;
    margin: 15px;
    }
#produto ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}