*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    box-shadow: 1px 1px 10px 1px black;
}
header img{
    width: 500px;
    margin: auto;
    border-radius: 5px;
}
body{
    background-image: url("img/home.jpg");
    background-repeat: no-repeat; 
    background-position: center center;
    background-attachment: fixed; 
    background-size: cover;
}
ul {
    display: flex;
    list-style: none;
    font-size: 20px;

}
a {
    display: flex;
    text-decoration: none;
    padding: 0 auto;
    color: rgba(250, 46, 46, 0.986);
}

.h {
    margin-top: 100px;
    width: 100px;
    height: 100px;
  }

#menus{
    background: rgba(238, 238, 238, 0.651);
    box-shadow: 0 8px 8px -4px;
}
#menus ul{
    display: flex;
    justify-content: space-evenly;
}
@media only screen and (max-width: 780px) {
    body {
      width: 100%;
      float: none;
    }  
    header{
        width: 300px;
    }
  }
#menus a:hover{
    padding: 10px;
    color: rgba(112, 17, 17, 0.781);
    font-size: 16px;
    transition: all 300ms ease-in-out;
}
div:nth-child(1) {
    background: rgba(238, 238, 238, 0.651);
    box-shadow: 0 8px 8px -4px;
    border-radius: 5px;
}
div:nth-child(2) {
    background: rgba(238, 238, 238, 0.651);
    box-shadow: 0 8px 8px -4px;
    border-radius: 5px;
}
div:nth-child(3) {
    background: rgba(238, 238, 238, 0.651);
    box-shadow: 0 8px 8px -4px;
    border-radius: 5px;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 3rem;
    margin-left: 50px;
    margin-top: 40px;
}
.flex div{
    padding: 25px;
}
.flex img {
    max-width: 300px;
}
p{
    font-family: 'Montserrat', sans-serif;
    width: 300px;
    text-align: center;
}
#about {
    display: flex;
    margin-top: 100px;
    justify-content: center;
}
#about p {
    max-width: 600px;
    padding: 10px;
    font-size: 25px;
}
#about a{
    color: rgba(112, 17, 17, 0.781);
    padding-left: 100px;
    text-align: center;
}
#about a:hover{
    font-size:25px ;
    font-style: oblique;
    color: rgba(63, 19, 19, 0.781);
    transition: all 300ms ease-in-out;
}
h3{
    text-align: center;
}
button{
    padding: 20px 50px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin-left: 60px;
}
button a:hover {
    font-style: oblique;
    color: rgba(112, 17, 17, 0.781);
    transition: all 300ms ease-in-out;
}
