*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header{
    display: flex;
    background: rgb(248, 244, 186);
    padding: 5px 0;
    }

header img{
    width: 300px;
}

nav ul {
    list-style: none;
    position: absolute;
    right: 0;
    display: flex;
    gap: 25px;
    margin: 15px;
    }